page-home {
    ::-webkit-scrollbar{
        display: none;
    }

    // .searchIcon{
    //     font-size: 96px;
    //     padding: 5px;
    // }
    

    // .item.item-trns {
    //     border-color: rgba(0, 0, 0, 0);
    //     background-color: rgba(0, 0, 0, 0);
    //     color: white; 
    //     background-color: transparent;
    // }

    // background: transparent !important;
    // background-color: transparent !important;;

    // background: transparent !important;;


    // background-color: rgba(0, 0, 0, 0);

    ion-icon {
        // font-size: 32px;
        // padding: 5px;
        // position: absolute;
        // z-index: 5;


//         background-color: rgba(0, 0, 0, 0);
//         background-color: transparent;
//         background: transparent !important;
//         --background: transparent;
// --ion-color-base: transparent !important;
      }

      .clearFilter{
          float:right;
          position: absolute;
          right: 50px;
          padding: 10px;
          z-index: 5;
          font-size: 32px;
      }

      .searchIcon{
        font-size: 32px;
        padding: 5px;
        position: absolute;
        z-index: 5;
        display:block;
      }

}