page-home {
    ::-webkit-scrollbar{
        display: none;
    }
    

    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
        background-color: transparent;
    }

    background: transparent !important;
    background-color: transparent !important;;

    background: transparent !important;;


    background-color: rgba(0, 0, 0, 0);

    ion-icon {
        font-size: 32px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0);
        background-color: transparent;
        background: transparent !important;
        --background: transparent;
--ion-color-base: transparent !important;
      }

    ion-content{
        background-color: rgba(0, 0, 0, 0);
        --background: transparent;
--ion-color-base: transparent !important;
background: transparent !important;
background-color: transparent;
    }
}

.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    color: white; 
    background-color: transparent;
}


